* {
    margin: 0;
}

body {
    background-image: radial-gradient(circle at top center, rgba(188, 223, 255, 1), rgba(65, 141, 211, 1));
    height: 100vh;
    background-image: url("../images/brian-mcgowan-kKyxIwvljBg-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-container {
    background-image: radial-gradient(circle at top center, rgba(188, 223, 255, 0.8), rgba(65, 141, 211, 0.8));
    border-radius: 20px;
    width: 400px;
    padding: 12px;
    box-shadow: 0 5px 10px rgba (0, 0, 0, 1);
    text-align: center;
    margin: 20px auto;
    border-right: 2px solid rgba(188, 223, 255, 1);
    border-bottom: 2px solid rgba(188, 223, 255, 1);
}

@media (max-width: 460px) {
    body {
        width: 100vw;
        background-position: center;
    }

    h1 {
        margin: 10dvh 0 2dvh;
    }

    .weather-container {
        background-image: radial-gradient(circle at top center, rgba(188, 223, 255, 0.7), rgba(65, 141, 211, 0.7));
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        border: none;
    }
}