h2, p {
    color: #fff;
    text-shadow: 1px 0 25px rgba(0, 76, 144, 1);
    font-weight: 400;
}

h2 {
    font-size: 2.2rem;
    margin: 1dvh 0;
}

h1 {
    font-size: 1.9rem;
    text-shadow: 1px 0 25px rgba(0, 76, 144, 1);
    font-weight: 400;
    margin: 1dvh 0 2dvh;  
}

input {
    width: calc(100% - 20px);
    padding: 5px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: #418DD3;
    border-right: 2px solid #418DD3;
    border-bottom: 2px solid #418DD3;   

}

input:focus {
    border: 1px solid #418DD3;
    color: #418DD3;
}

button {
background: none;
border: none;
filter: brightness(0) saturate(100%) invert(58%) sepia(10%) saturate(3222%) hue-rotate(171deg) brightness(86%) contrast(91%);
cursor: pointer;
transition: 0.3s;
position: absolute;
right: 2%;
top: 10%;
}

@media (max-width: 1024) {
    button {
        transition: 0s;
    }

    button:hover {
        transform: scale(100%);
        filter: brightness(0) saturate(100%) invert(58%) sepia(10%) saturate(3222%) hue-rotate(171deg) brightness(86%) contrast(91%);
    }
}

button:hover {
    transform: scale(120%);
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(130deg) brightness(101%) contrast(105%);
}

::placeholder {
    color: #418DD3;
}

::-ms-input-placeholder {
    color: #418DD3;
   }

.search {
    position: relative;
}