* {
  margin: 0;
}

body {
  background-image: radial-gradient(circle at top center, rgb(188, 223, 255), rgb(65, 141, 211));
  height: 100vh;
  background-image: url("../images/brian-mcgowan-kKyxIwvljBg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-container {
  background-image: radial-gradient(circle at top center, rgba(188, 223, 255, 0.8), rgba(65, 141, 211, 0.8));
  border-radius: 20px;
  width: 400px;
  padding: 12px;
  box-shadow: 0 5px 10px rgba 0, 0, 0, 1;
  text-align: center;
  margin: 20px auto;
  border-right: 2px solid rgb(188, 223, 255);
  border-bottom: 2px solid rgb(188, 223, 255);
}

@media (max-width: 460px) {
  body {
    width: 100vw;
    background-position: center;
  }
  h1 {
    margin: 10dvh 0 2dvh;
  }
  .weather-container {
    background-image: radial-gradient(circle at top center, rgba(188, 223, 255, 0.7), rgba(65, 141, 211, 0.7));
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    border: none;
  }
}
h2, p {
  color: #fff;
  text-shadow: 1px 0 25px rgb(0, 76, 144);
  font-weight: 400;
}

h2 {
  font-size: 2.2rem;
  margin: 1dvh 0;
}

h1 {
  font-size: 1.9rem;
  text-shadow: 1px 0 25px rgb(0, 76, 144);
  font-weight: 400;
  margin: 1dvh 0 2dvh;
}

input {
  width: calc(100% - 20px);
  padding: 5px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: #418DD3;
  border-right: 2px solid #418DD3;
  border-bottom: 2px solid #418DD3;
}

input:focus {
  border: 1px solid #418DD3;
  color: #418DD3;
}

button {
  background: none;
  border: none;
  filter: brightness(0) saturate(100%) invert(58%) sepia(10%) saturate(3222%) hue-rotate(171deg) brightness(86%) contrast(91%);
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  right: 2%;
  top: 10%;
}

@media (max-width: 1024) {
  button {
    transition: 0s;
  }
  button:hover {
    transform: scale(100%);
    filter: brightness(0) saturate(100%) invert(58%) sepia(10%) saturate(3222%) hue-rotate(171deg) brightness(86%) contrast(91%);
  }
}
button:hover {
  transform: scale(120%);
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(130deg) brightness(101%) contrast(105%);
}

::-moz-placeholder {
  color: #418DD3;
}

::placeholder {
  color: #418DD3;
}

::-ms-input-placeholder {
  color: #418DD3;
}

.search {
  position: relative;
}

#temperature {
  font-size: 50px;
  margin: 1dvh 0;
}

#weather-icon {
  width: 100px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  filter: drop-shadow(1px 0 25px rgb(0, 76, 144));
  z-index: 1;
}

#city {
  z-index: 2;
}

#forecast {
  margin-top: 30px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}

.forecast-item {
  width: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: baseline;
  margin-right: 10px;
  color: #fff;
  font-size: 1.1rem;
}

.forecast-icon {
  width: 55px;
  margin-bottom: 0;
  margin-top: 8x;
}

.humidityDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.humidityDiv p {
  text-shadow: 1px 0 25px rgb(0, 76, 144);
  margin: 3px 0;
}

.humidity {
  height: 20px;
  margin: 8px 0;
  padding-right: 2px;
}/*# sourceMappingURL=style.css.map */